body {

	background: url(gate.jpg) no-repeat left center fixed;
	background-color: rgb(0,0,0);
}

#pageIn {
	margin-left:auto;
	margin-right:auto;
}

#pageMiddle {
	display:table-cell;
	vertical-align:middle;
}

#pageOut {
	display:table;
	position:absolute;
	height:99%;
	width:99%;
}

#content {
	margin-left: 130px;
	width: 600px;
	font-family: DidactGothic, "Gill Sans", "Futura", Helvetica;
	font-size: 14pt;
	color: #ccc;
}

@font-face {
    font-family: DidactGothic;
    src: url(didact-gothic.ttf);
}

p {
	margin: 8px;
}

a {
	color: #ccc;
	text-decoration: none;
	border-bottom: 1px solid #999;
	transition: color 0.13s linear,
				border-bottom 0.1s linear;
}

a:hover { 
	border-bottom: 1px solid rgb(158, 33, 55);
} 

::selection {
	background: rgb(170, 11, 11)
}
	
::-moz-selection {
	background: rgb(170, 11, 11)
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.001);
}
